# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
instance/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars.json
*.tfvars.user
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl
tfplan

# Streamlit
.streamlit/

# Misc
*.csv
scratch.txt



